*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.header-top{
    display: flex;
    padding: 20px;
    padding-left: 0 0 0 20px;
    word-spacing: 5px;
    background-color: #f7f8f8;
    width: 100%;
    display: none;
}

.fa-car , .fa-building{
    font-size: 15px;
    background-color: white;
    color: black;
    margin-left: 30px;
}
.header-a> a , .header-a2 > a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding: 10px;
    background-color: #f7f8f8;
    width: 100%;
    display: none;

}

.sel-div{
    width: 20%;
}

#inp{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 5px;
}
.icon{
    position: relative;
    top: -38px;
    left: 10px;
}
.fa-magnifying-glass{
    width: 20px;
    height: 20px;
    
}
#input{
    width: 500px;
    height: 50px;
    border: 2px solid black;
    padding-left: 20px;
    border-radius: 5px;
}
.icon-2{
    display: inline-block;
    position: relative;
    right: 55px;
    bottom: 3px;

}
.search-bar{
    width: 50px;
    height: 50px;
    
}


#logIn-button{

    border: 1px solid black ;
    position: relative;
    right: 20px;
    transition: all 0.5s ease-in;
}

#logIn-button:hover{
    background-color: skyblue;
    color: white;
    opacity: 1;
    transform: scale(1.1);
   
}


.sell{
    width: 110px;
    height: 50px;
    border: 5px solid black;
    border-radius: 20px;
    border-top-color: aqua;
    border-right-color: yellow;
    border-left-color: blue;
}

.container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#products-details{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gray;
}


#products-details img{
    border: 1px solid black;
    width: 100%;
    background-color: black;
    padding: 40px;
    height: 450px;
    
}

#products-details h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 47, 47);
    font-size: 30px;    
}

#products-details h4{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 40px;
    color: rgb(26, 24, 24);

}

#products-details h4 div{
    width: 15%;
    word-spacing: 10px;
    font-size: 25px;
    color: black;
}

.description {
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    width: auto;
    height: auto;
    margin-top: 20px;
}

.right{
    width: 30%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    margin-top: 40px;
    margin-left: 30px;

}

.right h2{
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    font-size: 22px;
}
.right h3{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 18px;
}
.right p{
    font-size: 18px;
    margin-left: 20px;
    font-style: italic;
}

.hide{
    display: none;
}

.footer {
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;
    height: 200px;
    background-color: rgb(233, 231, 231);
    padding: 10px;
}

.footer-li-heading>h3 {
    font-size: 18px !important;
    margin-left: -15px;
    list-style: none;
    cursor: pointer;
}
.footer-li-heading{
    list-style: none;
}
.footer-li {
    font-size: 13px !important;
    margin: 2px;
    list-style: none;
    cursor: pointer;
}

.follow {
    font-size: 16px;
    margin-top: 13px;
}
.end {
    border: 1px solid lightgrey;
    height: 50px;
    background-color: hsla(203, 73%, 14%, 0.796);
    display: flex;
    justify-content: flex-end;
    color: white;
}

.last-para {
    margin-top: 10px;
    font-size: 15px;
    width: 350px;
}

.acc {
    display: none;
}


@media only screen and (min-width: 426px) and (max-width: 768px){
    
    .header-top{
        width: 100% ;
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }

    .header{
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .sel-div , .btn-div , .sell, .header{
        display: none !important;
        }
    .container{
        display: flex;
        flex-direction: column;
    }
    #products-details{
        width: 100%;
    }

    .right{
        width: 90%;
        border: 1px solid gray;
        margin-top: 10px
    }

    .footer {
        display: none;
    }

    .acc {
        display: block;
        width: 100%;
    }

    .accordion-button {
        font-size: 20px !important;
        padding-left: 30px !important;
        height: 100px !important;
        border-top: 1px solid gray !important;
        border-bottom: 1px solid gray !important;
    }

    .end {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start
    }

    .last-para {
        font-size: 20px;
        width: 100% !important;
        text-align: center;
        margin-top: 30px;

    }

    .follow-us {
        display: flex;
        height: 100px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .follow {
        font-size: 20px !important;
        margin-left: 20px;
        margin-top: 40px;
    }

    .follow-us>img {
        width: 50px !important;
        height: 50px;
        margin: 20px;
        position: relative;
        left: 40px;
        margin-top: 30px;
    }

    .last-button {
        height: 200px;
        text-align: center;
    }

    .last-button>img {
        width: 200px;
        height: 150px;
    }
}

@media only screen and (max-width: 425px){
    .header-top{
        width: 100% ;
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }

    .header{
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .sel-div , .btn-div , .sell, .header{
        display: none !important;
        }

       
    
    .container{
        display: flex;
        flex-direction: column;
    }
    #products-details{
        width: 100%;
    }

    #products-details img{
        padding: 20px;
    }

    #products-details h4 div{
        width: 20%;
    }

    .description{
        font-size: 20px;
    }

    .right{
        width: 100%;
        margin: 0;
        border: 1px solid gray;
        margin-top: 10px
    }

    .footer {
        display: none;
    }

    .acc {
        display: block;
        width: 100%;
    }

    .accordion-button {
        font-size: 20px !important;
        padding-left: 30px !important;
        height: 100px !important;
        border-top: 1px solid gray !important;
        border-bottom: 1px solid gray !important;
    }

    .end {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start
    }

    .last-para {
        font-size: 20px;
        width: 100% !important;
        text-align: center;
        margin-top: 30px;

    }

    .follow-us {
        display: flex;
        height: 100px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .follow {
        font-size: 20px !important;
        margin-left: 20px;
        margin-top: 40px;
    }

    .follow-us>img {
        width: 30px !important;
        height: 40px;
        margin: 20px;
        position: relative;
        left: 10px;
        margin-top: 30px;
    }

    .last-button {
        height: 200px;
        text-align: center;
    }

    .last-button>img {
        width: 150px;
        height: 100px;
    }

}

@media only screen and (max-width: 320px) {

    #products-details h4 div{
        width: 30%;
    }
    .footer {
        display: none;
    }

    .acc {
        display: block;
        width: 100%;
    }

    .accordion-button {
        font-size: 20px !important;
        padding-left: 30px !important;
        height: 100px !important;
        border-top: 1px solid gray !important;
        border-bottom: 1px solid gray !important;
    }

    .end {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start
    }

    .last-para {
        font-size: 20px;
        width: 100% !important;
        text-align: center;
        margin-top: 30px;

    }

    .follow-us {
        display: flex;
        height: 100px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .follow {
        font-size: 20px !important;
        margin-left: 20px;
        margin-top: 30px;
    }

    .follow-us>img {
        width: 25px !important;
        height: 30px;
        margin: 10px;
        position: relative;
        left: 0;
        margin-top: 30px;
    }

    .last-button {
        height: 200px;
        text-align: center;
    }

    .last-button>img {
        width: 150px;
        height: 100px;
    }
}
/* 

.span{
    color: rgb(8, 99, 134);
}
.cart{
    display: flex;
}

.cart-count{
    display: flex;
    position: relative;
    left: 100%;
}

.cart-count img{
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    
}
.cart-count img:hover{
    background-color: rgba(198, 205, 212, 0.914);
}
#cart-count-num{
    margin: 15px 0 0 10px;
    font-size: 22px;
}

#cart-btn{
    width: 150px;
    height: 60px;
    margin-left: 50px;

} */