*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top{
    display: flex;
    padding: 20px;
    padding-left: 0 0 0 20px;
    word-spacing: 5px;
    background-color: #f7f8f8;
    width: 100%;
}

.hamb{
    display: none !important;
}
.fa-car , .fa-building{
    font-size: 15px;
    background-color: white;
    color: black;
    margin-left: 30px;
}
.header-a> a , .header-a2 > a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding: 10px;
    background-color: #f7f8f8;
    width: 100%;
}

.sel-div{
    width: 20%;
}

#inp{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 5px;
}
.icon{
    position: relative;
    top: -38px;
    left: 10px;
}
.fa-magnifying-glass{
    width: 20px;
    height: 20px;
    
}
#input{
    width: 500px;
    height: 50px;
    border: 2px solid black;
    padding-left: 20px;
    border-radius: 5px;
}
.icon-2{
    display: inline-block;
    position: relative;
    right: 55px;
    bottom: 3px;

}
.search-bar{
    width: 50px;
    height: 50px;
    
}


#logIn-button{

    border: 1px solid black ;
    position: relative;
    right: 20px;
}

#logIn-button:hover{
    background-color: skyblue;
    color: white;
    opacity: 1;
   
}


.sell{
    width: 110px;
    height: 50px;
    border: 5px solid black;
    border-radius: 20px;
    border-top-color: aqua;
    border-right-color: yellow;
    border-left-color: blue;
}

.hide{
    display: none;
}

#container{
    border: 1px solid black;
}

#container div{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

#container div img{
    padding: 10px;
    width: 120px;
    background-color: black;
}

#container div h4 {
    width: 30%;
    font-size: 18px;
    margin: 30px 0 0 50px;
}

#container div h5{
    font-size: 18px;
    margin: 30px 0 0 50px;
}

#container div button{
    width: 80px;
    height: 60px;
    margin: 20px;
    background-color: #f7f8f8;
    border-color: lightgray;
    border-radius: 5px;
}

#update-ad{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

}
#update-ad input{
    margin-top: 10px;
    height: 80px;
    font-size: 20px;
}
#update-ad h4{
    margin-top: 10px;
}
#update-ad .discription-inp{
    height: 150px;
}

#update-ad img{
    width: 200px;
    margin-top: 10px;
}

#update-ad button{
    margin-top: 20px;
    width: 80px;
    height: 50px;
    background-color: #f7f8f8;
    border-color: lightgray;
    border-radius: 5px;
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    
    .header-top{
        width: 100% ;
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }

    .header{
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .sel-div , .btn-div , .sell, .header{
        display: none !important;
        }

    }

    @media only screen and (max-width: 425px){
        .header-top{
            width: 100% ;
            display: flex;
            justify-content: space-around;
            margin-top: 0;
        }
    
        .header{
            width: 100%;
            display: flex;
            padding: 0;
        }
        
        .sel-div , .btn-div , .sell, .header{
            display: none !important;
            }

            #container div img{
                width: 80px;
            }

            #container div h4 ,#container div h5{
                font-size: 14px;
                margin: 20px 0 0 20px;
            }

            #container div h4 {
                width: 30%;
            }

            #update-ad input{
                font-size: 15px;
            }

        }