*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C8EF9;
}

/* ...............................signup page...................................... */

.signup-div , .signin-div{
    text-align: center;
    font-size: 20px;
}

fieldset{
    background-color: white;
    margin: auto;
    width: 40%;
    height: auto;
    margin-top: 30px;
    font-size: 25px;
    padding: 20px 20px 20px 40px;
}

.signup-inp , .signin-inp{
    width: 70%;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.signup-btn , .signin-btn{
    width: 40%;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #1C8EF9;
    color: white;
    margin: 10px;
}

.para{
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
} 

.para > a{
   margin-left: 10px;
   text-decoration: none;
   color: #206eb6;
   font-size: 20px;
}


.para > span{
    margin-left: 10px;
    text-decoration: none;
    color: #206eb6;
    font-size: 20px;
    cursor: pointer;
 }
 
 .link{
    font-size: 20px;
    text-decoration: none;
    color: black;
 }
 .link a{
    text-decoration: none;
    color: rgb(33, 62, 205);
 }